<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.alarm">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.AddAlarmActivity"
            android:label="@string/title_activity_add_alarm">
        </activity>
        <activity
            android:name=".activity.EditAlarmActivity"
            android:label="@string/title_activity_edit_alarm">
        </activity>
        <activity
            android:name=".activity.QuestionActivity"
            android:label="设置问题">
        </activity>

        <receiver android:name=".MyAlarmReceiver"/>

        <receiver android:name=".SnoozeReceiver"/>

        <activity android:name=".activity.PlayAlarmActivity"
            android:launchMode="singleTask"/>

        <activity android:name=".activity.AboutActivity"/>

        <service android:name=".AlarmService"/>

        <receiver android:name=".AlarmService$RebootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver><!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>